.logo img {
  width: 30%;
}

.access-container p {
  text-align: left;
  font-size: 18px;
}

.access-container {
  padding-bottom: 15%;
}
header {
  height: 60px;
}

p a {
  color: black;
  font-weight: bold;
}
