/******** MAIN CONTAINER & CONTENT***************/

.main {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../../assets/img/parqueo8.jpg);
  background-size: cover;
  background-position: center;
  padding: 20% 0%;
}
.form-container {
  width: 25%;
  position: absolute;
  float: right;
  right: 7%;
  top: 20%;
  box-shadow: 1px 1px 5px black;
  padding: 1% 2% 4% 2%;
  background-color: white;
}

.form h3 {
  width: 80%;
  padding: 3% 0%;
  font-size: 20px;
}
input, p, select{
  color: #666666;
}
.birth-date-box,
.mall-box {
  overflow: auto;
  width: 100%;
  margin: auto;
  padding-top: 3%;
}
.birth-date-box input,
.birth-date-box p,
.mall-box input,
.mall-box p {
  position: left;
  display: inline;
}
#birth-date,
.mall-box input {
  width: 60%;
  float: left;
  padding: 2%;
}
.birth-date-box p,
.mall-box p {
  font-size: 10px;
  float: right;
}
.page-heading {
  width: 50%;
  margin: 0;
  padding: 4% 2%;
}
.form-input {
  display: block;
  padding: 5% 0%;
  width: 100%;
  margin: 2% 0%;
  border-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.mall-box {
  display: flex;
  width: 100%;
}
.address-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5% 0%;
}
select {
  border-style: none;
  background-color: #e7e7e7;
  padding: 2%;
  width: 30%;
}
.coordenadas-box{
  overflow: auto;
  padding-top: 2%;
}

.coordenada{
  margin: 2%;
  width: 45%;
  border-bottom: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  border-top: none;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.form button{
  background-color: #82b0b0;
  color: white;
}
.user-form button, .second button{
  margin-top: 20%;
}
.user-form button{
  width: 40%;
  display: online;
}