<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="informacion_adicional.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>
  <body>
 <!-- Header -->
 <header>
  <div class="logo">
    <img src="../../assets/img/logo.png" />
  </div>
  <div class="sub-menu" id="sub">
    <div class="dropdown">
      <i class="fas fa-user-circle dropbtn" onclick="displayDropMenu()"></i>
      <div id="myDropdown" class="dropdown-content">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
    </div>
  </div> 
</header>
<div class="topHeaderFill">relleno</div>
<div class="page-container">
  <div class="content-wrap">


   

    <div class="row">
      <div class="side">
        <div class="side-menu">
          <ul>
            <li>
              <a href="../modificarPerfil/modificarPerfil.html"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
            </li>
            <li>
              <a href="../tarifas/tarifas.html"><i class="fas fa-stream"></i>Tarifas</a>
            </li>
            <li>
              <a href="../reportes_parqueos/reportes_ingresos.html"><i class="fas fa-calendar-week"></i>Reportes</a>
            </li>
            <li>
              <a href="../convenios/convenios.html"><i class="far fa-question-circle"></i>Convenios</a>
            </li>
            <li>
              <a href="../clientes_diarios/clientes_diarios.html"><i class="far fa-question-circle"></i>Clientes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="center-content-container">
          <form id="login-form" action="#">
            <h1>Información Adicional</h1>
            <br />
            <br />
              <label
                >Nombre de Usuario <br /><input
                  type="text"
                  class="input-bottom-border-only"
                  id="username"
                  
                />
                <br>
                <br>
              </label>
              <br>
              <label
                >Avatar: <br /><input
                  type="file"
                  id="avatar"
                  name="input"
                  accept="image/*"
                /><br />
                <span class="file-custom"></span>
              </label>

            <br />
            <br>
           
              <label
                >Fecha de nacimiento <br /><input
                  type="date"
                  class="input-bottom-border-only"
                  id="birthdate"
                 
                  
                /> <br></label
              ><br />
              <br>
            <label>Fotos del Parqueo <br></label>
            <input type="file" id="fotosparqueo" name="input" accept="image/*"/>

            <div class="button-siguiente">
              <br />
              <br />
              <button type="button" onclick="validar()">Siguiente</button>
            </div>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
  </div>
  <footer>
    <p>San José, Costa Rica.</p>
    <p>&reg;Todos los derechos reservados</p>
</footer>
<script src="informacion_adicional.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/dropdown_menu.js"></script>
  </body>
</html>
