<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- global css -->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="reportes_parqueos.css">
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <header>
        <div class="header-top">
          <!-- Header Logo -->
          <div class="logo">
            <img src="../../assets/img/logo.png" />
          </div>
          <!-- Header Menu -->
          <div class="menu">
            <div class="leftOptions">
              <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Cómo funciona?</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#">Ayuda</a></li>
                
              </ul>
            </div>
            <div class="rightOptions">
              <ul>
                <li><a href="#"><i class="fas fa-sign-in-alt"></i></i></a></li>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
                
              </ul>
            </div>
          </div>
          <!-- Header Menu end -->
        </div>
      </header>
      <br />
      <br />
      <br />
    </div>
    <!-- Header end -->

    <!-- //////content////// -->
    <div class="row">
      <div class="side">
        <div class="sidebar">
          <ul>
            <li>
              <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="title-table">
          <h1 style="padding: 20px;">Ingresos Anuales</h1>
        </div>
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th><h1>Mes</h1></th>
              <th><h1>Porcentaje</h1></th>
              <th><h1>Monto</h1></th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Enero</td>
              <td>25%</td>
              <td>$250</td>
            </tr>
            <tr>
              <td>Febrero</td>
              <td>25%</td>
              <td>$250</td>
            </tr>
            <tr>
              <td>Marzo</td>
              <td>25%</td>
              <td>$250</td>
            </tr>
            <tr>
              <td>Abril</td>
              <td>25%</td>
              <td>$250</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>100%</td>
              <td>$1000</td>
            </tr>
          </tbody>
        </table>

        <div class="title-table">
          <h1 style="padding: 30px;">Ingresos Mensuales</h1>
        </div>

        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              <th><h1>Vehículo</h1></th>
              <th><h1>Porcentaje</h1></th>
              <th><h1>Monto</h1></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carros</td>
              <td>50%</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>Motos</td>
              <td>50%</td>
              <td>$500</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer>
      <div class="footer-logo">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
  </body>
</html>
