<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="asociar_empleados_convenios.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <!-- The flexible grid (content) -->
      <div class="row">
        <div class="side">
          <div class="side-menu">
            <header></header>
            <ul>
              <li>
                <a href="#"><i class="fas fa-qrcode"></i>Convenios</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-link"></i>Registro de empleados</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-stream"></i>Cuenta</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="title-table">
            <h1>Convenios</h1>
          </div>
          <div class="search">
            <div class="add-icon"><i class="fas fa-plus-circle"></i></div>
            <input type="text" placeholder="Buscar..." />
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th><h1>Empleado</h1></th>
                <th><h1>Parqueo</h1></th>
                <th><h1>Estado del convenio</h1></th>
                <th><h1>Asociar-Desasociar</h1></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jose Vargas Rojas</td>
                <td>MGH</td>
                <td>Activo</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>María Pérez Rivera</td>
                <td>MGH</td>
                <td>Activo</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Lucía Sandoval Venegas</td>
                <td>MGH</td>
                <td>Activo</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Carlos Carranza Jara</td>
                <td>MGH</td>
                <td>Activo</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Olger Vidal Martinez</td>
                <td>MGH</td>
                <td>Inactivo</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Luis Pereira Ramirez</td>
                <td>3G</td>
                <td>Inactivo</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Pablo Venegas Obando</td>
                <td>3G</td>
                <td>Inactivo</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Lucía Sandoval Venegas</td>
                <td>3G</td>
                <td>Inactivo</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
  </body>
</html>
