<!DOCTYPE html>
<html>
  <head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="login.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="login.js"></script>
    
  </head>
  <body>
    <div class="outer-container">
      <header>
        <div class="sub-menu" id="sub">
          <div class="dropdown">
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">Inicio</a>
              <a href="#about">Mi perfil</a>
              <a href="#">Cerrar sesión</a>
            </div>
          </div>
        </div> 
      </header>
    <!-- main -->
    <div class="login-container">
      <br />
      <br />
      <br />
      <div class="logo-login">
        <img src="../../assets/img/logo.png" alt="Logo" />
      </div>
      <form id="login-form" action="#">
        <h1>Iniciar Sesión</h1>
        <div class="email-input">
          <input
            type="text"
            id="email"
            name="login"
            placeholder="Email"
            class="input-bottom-border-only"
          /><br /><br />
        </div>
        <div class="password-input">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            class="input-bottom-border-only"
          />
          <br />
          <br />
        </div>
        <button type="button" onclick="logInValidation()" class="login-button" >
          SIGUIENTE <span id="right"><i class="fas fa-arrow-right"></span></i>
        </button>
        <div class="access-container">
        </div>
        <div class="login-flex-container">
          <div class="register">
            <p>¿No tienes una cuenta? <a href="components/seleccion_usuarios/seleccion_usuarios.html">Regístrate</a></p>
          </div>
          <div class="lost-password">
            <p><a href="../olvido_password/olvido_password.html">¿Olvidó la contraseña?</a></p>
          </div>
        </div>
      </form>
    </div>
        </div>
      </div>
      <!-- Footer -->
  </body>
</html>
