<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sider Menu Bar CSS</title>
    <link rel="stylesheet" href="side_menu.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
  </head>
  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>MySpot</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
        </li>
        <li>
          <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
        </li>
      </ul>
    </div>
    <section></section>
  </body>
</html>
