<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Solicitudes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/da33aea8dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="outer-container">
      <header>
        <div class="logo">
          <a href="index.html"><img src="../../assets/img/logo.png" /></a>
        </div>
        <div class="sub-menu" id="sub">
          <div class="dropdown">
            <i
              class="fas fa-user-circle dropbtn"
              onclick="displayDropDownMenu()"
            ></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="../Perfil_Administrador/ver_perfil_administrador.html"
                >Perfil</a
              >
              <a href="config_cliente.html">Configuración</a>
              <!--cambiar url-->
              <a href="http://localhost:4040/">Cerrar sesión</a>
              <!--cambiar url-->
            </div>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="side">
          <div class="side-menu">
            <ul>
              <li class="active">
                <a
                  href="../ver_perfil_administrador/ver_perfil_administrador.html"
                  ><i class="far fa-user"></i>Lista Parqueos</a
                >
              </li>
              <li>
                <a href="../lista_parqueos/lista_parqueos.html"
                  ><i class="fas fa-parking"></i>Lista Clientes</a
                >
              </li>
              <li>
                <a href="../lista_clientes/lista_clientes.html"
                  ><i class="fas fa-users"></i>Lista Empresas</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Configuración de la aplicación</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Solicitudes de registro</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Módulo parqueo</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Módulo cliente</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Módulo empresa</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Reportes</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="title-table">
            <h1>Solicitudes de registro</h1>
          </div>
          <div class="table-header">
            <div class="search">
              <p>
                Filtrar por
                <select class="searchSelect" id="criteria" name="select">
                  <option value="" selecte>Elije</option>
                  <option value="nombre">Nombre del parqueo</option>
                  <option value="estado">Estado de la solicitud</option>
                </select>
                <input type="text" id="searchValue" placeholder="Buscar..." />
                <button onclick="searchWithinTheTable()">
                  <i class="fas fa-search"></i>
                </button>
              </p>
            </div>
          </div>
          <table class="table" id="requestsTable">
            <thead>
              <tr>
                <th>
                  <h1>Estado de solicitud</h1>
                </th>
                <th>
                  <h1>Parqueos</h1>
                </th>
                <th>
                  <h1>Aprobar / Denegar</h1>
                </th>
                <th>
                  <h1>Información</h1>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../../assets/js/enviar_correo.js"></script>
    <script src="../../assets/js/dropdown_menu.js"></script>
    <script src="solicitud_de_Registro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </body>
</html>
