<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="Listar_Empresas.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <!-- The flexible grid (content) -->
      <div class="row">
        <div class="side">
          <div class="side-menu">
            <ul>
              <li class="active">
                <a
                  href="../ver_perfil_administrador/ver_perfil_administrador.html"
                  ><i class="far fa-user"></i>Mi parqueos</a
                >
              </li>
              <li>
                <a href="../lista_clientes/lista_clientes.html"
                  ><i class="fas fa-users"></i>Convenios</a
                >
              </li>
              <li>
                <a href="../solicitud_pendiente/solicitud_pendiente.html"
                  ><i class="fas fa-link"></i>Tarifas</a
                >
              </li>
              <li>
                <a href="../lista_parqueos/lista_parqueos.html"
                  ><i class="fas fa-parking"></i>Reportes</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="title-table">
            <h1>Lista Empresas</h1>
          </div>
          <div class="table-header">
            <div class="search">
              <input type="text" placeholder="Buscar..." />
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="add-icon">
              <span
                onclick=" window.location.href = '../Registrar_Cliente/registrar_cliente.html';"
              >
                <i class="fas fa-plus-circle"></i
              ></span>
            </div>
          </div>
          
          <table class="table" id="requestsTable">
            <thead>
              <tr>
                <th>
                  <h1>Nombre</h1>
                </th>
                <th>
                  <h1>Cédula</h1>
                </th>
                <th>
                  <h1>Correo</h1>
                </th>
                <th>
                  <h1>Activar / Inactivar</h1>
                </th>
                <th>
                  <h1>Eliminar</h1>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          
        </div>
      </div>
    </main>
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
    <script src="../../assets/js/dropdown_menu.js"></script>
    <script src="Listar_Empresas.js"></script>
  </body>
</html>
