<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../global.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="solicitud_pendiente.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" crossorigin="anonymous"/>
    
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <script src="https://kit.fontawesome.com/da33aea8dd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header -->
      <header>
        <div class="logo">
          <img src="logo21.png" />
        </div>
        <div class="sub-menu" id="sub">
          <div class="dropdown">
            <i class="fas fa-user-circle dropbtn" onclick="displayDropMenu()"></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
            </div>
          </div>
        </div> 
      </header>
      <div class="topHeaderFill">relleno</div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="side">
        <div class="side-menu">
          <ul>
            <li class="active">
              <a
                href="../ver_perfil_administrador/ver_perfil_administrador.html"
                ><i class="far fa-user"></i>Mi Perfil</a
              >
            </li>
            <li>
              <a href="../lista_parqueos/lista_parqueos.html"
                ><i class="fas fa-parking"></i>Parqueos</a
              >
            </li>
            <li>
              <a href="../lista_clientes/lista_clientes.html"
                ><i class="fas fa-users"></i>Clientes</a
              >
            </li>
            <li>
              <a
                href="../solicitud_pendiente/solicitud_pendiente.html"
                ><i class="fas fa-link"></i>Solicitudes</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="title">
            <h1>Solicitudes de Unión</h1>
          </div>
          
          <table class="table">
            <thead>
              <tr>
                <th><h1>Parqueos</h1></th>
                
                <th><h1>----</h1></>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Parqueo BlackStar</td>
                
                <td>
                  <input type="checkbox" unchecked />
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>Parqueo AngelDust</td>
               
                <td>
                  
                    <input type="checkbox" unchecked/>
                   
                  
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>Parqueo lorem</td>
                
                <td>
                  
                    <input type="checkbox" unchecked />
                   
                  
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>Parqueo Ozzy</td>
                
                <td>
                  
                    <input type="checkbox" unchecked />
                   
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
            </tbody>
        </table>
      </div>

      </div>
    </div>
    <!-- Footer -->
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
  </footer>
  <script src="script.js"></script>
  </body>
</html>

