<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="agregar_usuario.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <!-- The flexible grid (content) -->
      <div class="row">
        <div class="side">
          <div class="side-menu">
            <ul>
              <li>
                <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
              </li>
              <li>
                <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
              </li>
              <li>
                <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="title-table">
            <h1>Agregar usuarios</h1>
          </div>
          <div class="table-header">
            <div class="search">
              <input type="text" placeholder="Buscar..." />
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="add-container">
              <section class="listado_usuarios">
                <input type="text" class="fondoI" placeholder="Nombre" id="nombre" />
                <input
                  type="text"
                  class="fondoI"
                  placeholder="Apellido"
                  id="apellido"
                />
                <input type="text" class="fondoI" placeholder="Cedula" id="cedula" />
                <input type="text" class="fondoI" placeholder="Correo" id="correo" />
                <input type="text" class="fondoI" placeholder="Nivel" id="nivel" />
      
                <button class="botonAzul alt_letra fondoB" type="button">
                  <a class="redireccion" onclick="GuardarUsuario()"
                    >AGREGAR NUEVO USUARIO</a
                  >
                </button>
      
                <br />
                <br />
                <br />
                <br />
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th><h1>Código de convenio</h1></th>
                <th><h1>Empresa</h1></th>
                <th><h1>Monto de descuento</h1></th>
                <th><h1>Activar/desactivar</h1></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5260</td>
                <td>Walmart</td>
                <td>15%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>1122</td>
                <td>BCT</td>
                <td>5%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>1250</td>
                <td>Yamuni</td>
                <td>10%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>1269</td>
                <td>BCCR</td>
                <td>20%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>1550</td>
                <td>Automercado</td>
                <td>5%</td>
                <td id="icons">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>2255</td>
                <td>3M</td>
                <td>5%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>4215</td>
                <td>BCCR</td>
                <td>15%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
              <tr>
                <td>2255</td>
                <td>Keds</td>
                <td>15%</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
