.search input {
    margin-top: 8px;
    outline: none;
    width: 20%;
    padding-left: 3%;
  }
  
  .search {
    text-align: left;
    width: 50%;
  }
  
  .add-icon {
    padding: -3%;
    float: right;
    font-size: 24px;
    color: #82b0b0;
  }

  .listado_usuarios{
    width: 100%;
  }