<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css folder -->
    <link rel="stylesheet" type="text/css" media="screen" href="layout.css" />
    <!-- global css -->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <header>
        <div class="header-top">
          <div class="logo">
            <img src="logo21.png" />
          </div>
          <div class="menu">
            <div class="leftOptions">
              <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Cómo funciona?</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
            </div>
            <div class="rightOptions">
              <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    <br>
    <br>
    <br>
    </div>
<div class="row">
      <div class="side">
        <div class="sidebar">
          <header></header>
          <ul>
            <li>
              <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="title">
          <h1>Tarifas</h1>
        </div>
        <div class="search">
          <input type="text" placeholder="Buscar..." />
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <table class="container">
          <thead>
            <tr>
              <th><h1>Tipo de Vehiculo</h1></th>
              <th><h1>Monto de tarifa</h1></th>
              <th><h1>Editar/Eliminar</h1></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tipo de vehiculo 1</td>
              <td>500</td>
              <td>
                <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
              </td>
            </tr>
            <tr>
              <td>Tipo de vehiculo 2</td>
              <td>800</td>
              <td>
                <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
              </td>
            </tr>
            <tr>
              <td>Tipo de vehiculo 3</td>
              <td>1000</td>
              <td>
                <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
              </td>
            </tr>
            <tr>
              <td>Tipo de vehiculo 4</td>
              <td>1000</td>
              <td>
                <i class="far fa-edit"><i class="far fa-trash-alt"></i></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>