<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="perfil_dueño.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
<!-- Note -->
<div style="background:yellow;padding:5px">
  <h4 style="text-align:center">Resize the browser window to see the responsive effect.</h4>
</div>

<!-- Header -->
<div class="header">
  <h1>My Website</h1>
  <p>With a <b>flexible</b> layout.</p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="#">Nosotros</a>
  <a href="#">Contactenos</a>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <div class="sidebar">
      <header>MySpot</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
        </li>
        <li>
          <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
        </li>
      </ul>
    </div>
  
  </div>
  <div class="main">
    <img src="../../assets/img/user-image.png" alt="">
    <label for="Nombre"></label>
    <input type="text" name="" id="">
   
</div>
<!-- Footer -->
<div class="footer">
  <h2>Footer</h2>
</div>
  </body>
</html>
