<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="verPerfil.css">
    <title>Document</title>
</head>
<body>
    <div class="parking-info-container hidden" id="parking-profile">
        <div class="image">
            <img src="imgs/parqueos/parqueo1.jpeg">
        </div>
        <div class="main-heading">
            <h3>Nombre del parqueo</h3>
            <div class="stars-raiting">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <div class="info-list-container">
            <ul class="info-list">
                <li><i class="fas fa-map-marker-alt"></i>San Jose, Calle La Guaria, 50 mts sur.</li>
                <li><i class="fas fa-phone"></i>+506 22334456</li>
                <li><i class="fas fa-envelope"></i>parqueox@gmail.com</li>
                <li><i class="fas fa-clock"></i>24/7</li>
            </ul>
        </div>
        <div class="button-box">
            <button type="button" class="book-parking" id="book-parking"><a href="seleccionarEspacio.html">Reservar</button>
        </div>    
    </div>
    <script src="verPerfil.js"></script>    
</body>
</html>
