<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reportes</title>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="reportes_ingresos.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <!-- The flexible grid (content) -->
      <div class="row">
        <div class="side">
          <div class="side-menu">
            <ul>
              <li>
                <a
                  href="/cliente/components/modificarPerfil/modificarPerfil.html"
                  ><i class="fas fa-parking"></i>Mi Parqueo</a
                >
              </li>
              <li>
                <a
                  href="/cliente/components/reportes_parqueos/reportes_ingresos.html"
                  ><i class="fas fa-wallet"></i>Reportes</a
                >
              </li>
              <li>
                <a href="/cliente/components/convenios/convenios.html"
                  ><i class="far fa-handshake"></i>Convenios</a
                >
              </li>
              <li>
                <a href="/cliente/components/tarifas/tarifas.html"
                  ><i class="fas fa-dollar-sign"></i>Tarifas</a
                >
              </li>
              <li>
                <a
                  href="/cliente/components/clientes_diarios/clientes_diarios.html"
                  ><i class="fas fa-users"></i>Clientes</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="ingresos-mesuales">
            <div class="title-table">
              <h1>Ingresos Mensuales</h1>
            </div>
            <div class="table-header">
              <div class="search">
                <input type="text" placeholder="Buscar..." />
                <button type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th><h1>Vehículo</h1></th>
                  <th><h1>Porcentaje</h1></th>
                  <th><h1>Dinero</h1></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Autos</td>
                  <td>70%</td>
                  <td>$700</td>
                </tr>
                <tr>
                  <td>Motos</td>
                  <td>30%</td>
                  <td>$300</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>100%</td>
                  <td>$1000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ingresos-anuales">
            <div class="title-table">
              <h1>Ingresos Anuales</h1>
            </div>
            <div class="table-header">
              <div class="search">
                <input type="text" placeholder="Buscar..." />
                <button type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th><h1>Mes</h1></th>
                  <th><h1>Porcentaje</h1></th>
                  <th><h1>Dinero</h1></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Enero</td>
                  <td>25%</td>
                  <td>$250</td>
                </tr>

                <tr>
                  <td>Febrero</td>
                  <td>25%</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td>Marzo</td>
                  <td>25%</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td>Abril</td>
                  <td>25%</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>100%</td>
                  <td>$1000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
  </body>
</html>
