<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="informacion_adicional.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="left-menu-container">
      <ul>
        <li><a href="#">Mi Parqueo</a></li>
        <li><a href="#">Mi Perfil</a></li>
        <li><a href="#">Tarifas</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Convenios</a></li>
      </ul>
    </div>
    <div class="right-content-container">
      <form id="login-form" action="#">
        <h1>Información Adicional</h1>
        <div class="left-input">
          <label>avatar</label>
          <input type="text" class="" id="avatar" />
          <label>Nombre de Usuario</label>
          <input type="text" class="" id="username" />
        </div>
        <div class="right-input">
          <label>Fecha de nacimiento</label>
          <input type="date" class="" id="birthdate" />
          <label>Edad</label>
          <input type="text" class="" id="age" />
        </div>
        <label>Fotos del Parqueo</label>
        <input type="file" id="img" name="img" accept="image/*" />

        <div class="button-siguiente">
          <button type="button" class="black-button">Siguiente</button>
        </div>
      </form>
    </div>

    <script src="main.js"></script>
  </body>
</html>
