/* tipo de font para todos */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

body button {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
div {
  overflow: auto;
}

/* inputs con solo el border abajo */
.input-bottom-border-only {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid grey;
}

.black-button {
  background-color: black;
  color: white;
  border: none;
  border-width: 0px;
}

.black-button:focus {
  outline: 0;
}

header {
  background-color: black;
  padding-right: 20px;
}

header i {
  color: #e3e3e4;
  float: right;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Contenedor páginas administrativas(dueño y administrador)*/
.managment-pages-wrapper h2 {
  font-weight: 400;
  padding-left: 50px;
  color: black;
}

/*Lista del menú izquierdo páginas administrativas(dueño y administrador)*/
.managment-pages ul li {
  display: flex;
  color: black;
}

/*Bloque de menu y contenido de la página*/
.menu-datagrid {
  overflow: auto;
  border-top: solid thin #e3e3e4;
}

/*menú izquierdo páginas administrativas(dueño y administrador)*/
.left-menu {
  float: left;
  line-height: 30px;
  padding-right: 10px;
  overflow-y: scroll;
  padding-right: 30px;
}

/*Header horizontal de páginas administrativas(dueño y administrador)*/
.managment-header {
  float: left;
  background-color: #e3e3e4;
  width: 100%;
}

.managment-header i {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #595959;
}

/*Bloque horizontal de páginas administrativas(dueño y administrador)*/
.managment-datagrid-wrapper {
}
