/* body */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

body button {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  overflow: auto;
  box-sizing: border-box;
}
/* end body */

/*Clases de páginas de acceso a la aplicación*/

/* Contenedor páginas de acceso*/
.access-container {
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
}

/*Título 1 de páginas de acceso a la aplicación*/
.access-container h1 {
  text-align: left;
  font-weight: normal;
}

/*Botón largo de páginas de acceso a la aplicación*/
.access-container button {
  width: 100%;
  text-align: left;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  border-width: 0px;
}

/*Input de páginas de acceso a la aplicación*/
.access-container input {
  padding-bottom: 1%;
  width: 99%;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}
