<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/styles.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="buscar_parqueo.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" crossorigin="anonymous" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/da33aea8dd.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="outer-container">
    <header>
      <div class="logo">
        <a href="index.html"><img src="../../assets/img/logo.png" /></a>
      </div>
      <div class="sub-menu" id="sub">
        <div class="dropdown">
          <i class="fas fa-user-circle dropbtn" onclick="displayDropDownMenu()"></i>
          <div id="myDropdown" class="dropdown-content">
            <a href="../Perfil_Cliente/perfil_cliente.html">Perfil</a>
            <a href="http://localhost:4040/">Cerrar sesión</a>     <!--cambiar url-->
          </div>
        </div>
      </div> 
    </header>
    <div class="topHeaderFill">relleno</div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="side" id="side-section">
        <div class="resultsList-box" id="resultsList-box">
          <div class="resultsList-items scroll-style">
            <div class="search-form">
              <h3>Selecciona la ubicación</h3>
              <select id="provincias">
                <option>Provincia</option>
              </select>
              <select id="cantones">
                <option>Cantón</option>
              </select>
              <select id="distritos">
                <option>Distrito</option>
              </select>
            </div>
            <div class="search-box">
              <input type="text" class="search-bar" id="search-bar" placeholder="Nombre del parqueo">
              <button type="button" id="traerParqueosBtn" onClick="traerParqueos()" class="search-button">
                <i class="fas fa-search"></i>
                <a href="#" >Buscar</a></button>
            </div>
            <a href="../Seleccionar_Espacio_Reserva/seleccionarEspacio.html" id="reserva">Reserva</a>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="map-box">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Footer -->
  <footer>
    <p>San José, Costa Rica.</p>
    <p>&reg;Todos los derechos reservados</p>
  </footer>
  <script src="../../assets/js/traer_provincias.js"></script>
  <script src="../../assets/js/dropdown_menu.js"></script>
  <script src="buscar_parqueo.js"></script>
  <script src="mapbox.js"></script>

</body>

</html>