<div class="items-content-wraper">
    <div class="item-content">
      <div class="image">
        <img src="#">
      </div>
      <div class="details">
        <h3 class="heading">Nombre del parqueo</h3>
        <div class="star-rating">                    
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="3">
          <sup>&#8353</sup>
          <span>1000/hora</span>
        </div>
      </div>
      <div class="controls">
        <a href="verPerfil.html" class="moro-info">Más información</a>
        <button type="button" class="book-parking">Reservar</button>
      </div>
    </div>
  </div>