<!DOCTYPE html>
<html>
  <head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="registrar_empleado.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="sub-menu" id="sub">
        <div class="dropdown">
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Mi perfil</a>
            <a href="#">Cerrar sesión</a>
          </div>
        </div>
      </div> 
    </header>
    <div class="login-container">
      <!-- aqui va el header  -->
      <br />
      <br />
      <br />
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="Logo" />
      </div>
      <div class="form">
      <form id="login-form" action="#">
        <h1>Registrar empleado</h1>
        
        <div class="name-input">
          <input
            type="text"
            id="name"
            name="register"
            placeholder="Nombre completo"
            class="input-bottom-border-only"
          /><br /><br />
      
        </div>
        <div class="cedula-input">
          <input
          type="text"
          id="cedula"
          name="register"
          placeholder="Cedula"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <label for="fecha-de-contratacion" id="label-fecha-contratacion">Fecha de nacimiento</label>
        <div class="fecha-nacimiento-input">
          <input
          type="date"
          id="fecha-nacimiento"
          name="register"
          placeholder="Fecha de nacimiento"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="numero-de-teléfono">
          <input
          type="tel"
          id="numero"
          name="register"
          placeholder="Numero de teléfono"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="email">
          <input
          type="text"
          id="email-register"
          name="register"
          placeholder="Correo electrónico"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="puesto">
          <input
          type="text"
          id="puesto-empleado"
          name="register"
          placeholder="Puesto Laboral"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <label for="fecha-de-contratacion" id="label-fecha-contratacion">Fecha de contratación</label>
        <div class="fecha-contratacion">
          <input
          type="date"
          id="fecha-de-contratacion"
          name="register"
          placeholder="Fecha de contratación"
          class="input-bottom-border-only"
        /><br /><br />
        </div>

        <div class="button-container">
          <button type="button" onclick="validar()" class="login-button">
            Registrar empleado <span id="right"></span></i>
          </button>
        </div>
        <div class="login-flex-container">
          <div class="register">
          
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="../../assets/js/main.js"></script>
  <script src="registrar_empleado.css"></script>
  </body>
</html>
