<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reportes</title>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="modificar_app.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <!-- The flexible grid (content) -->
      <div class="row">
        <div class="side">
          <div class="side-menu">
            <ul>
              <a href="../Listar_Clientes_del_Dia/clientes_diarios.html"
                ><i class="fas fa-parking"></i>Lista Clientes</a
              >
            </li>
            <li>
              <a href="../Modificar_Applicacion/modificar_app.html"
                ><i class="fas fa-link"></i>Configuración</a
              >
            </li>
            <li>
              <a href="../Solicitudes_de_Parqueo_Administrador/solicitud_de_Registro.html"
                ><i class="fas fa-link"></i>Solicitudes de registro</a
              >
            </li>
            <li>
              <a href="../Perfil_Parqueo/modificarPerfil.html"
                ><i class="fas fa-link"></i>Módulo parqueo</a
              >
            </li>
            <li>
              <a href="../Perfil_Cliente/perfil_cliente.html"
                ><i class="fas fa-link"></i>Módulo cliente</a
              >
            </li>
            <li>
              <a href="../Listar_Empleados_de_Empresa/empleados.html"
                ><i class="fas fa-link"></i>Módulo empresa</a
              >
            </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <div class="user-info-container">
            <div class="first-row">
              <div class="user-photo">
                <img src="../../assets/img/user.png" />
              </div>
              <h2>My Spot</h2>
            </div>
            <div class="second-row">
              <h3>Link</h3>
              <p>www.proCode.com</p>
            </div>
            <div class="third-row">
              <h3>Correo electrónico</h3>
              <p>proCode@gmail.com</p>
              <div class="add-email">
                <a href=""><i class="fas fa-plus"></i></a>
                <a href="#">Agregar otro correo</a>
              </div>
              <form>
                <input
                  type="text"
                  id="mod-name-field"
                  class="form-field"
                  placeholder="Nombre de la app"
                />
                <i class="fas fa-pencil-alt"></i>
                <input
                  type="text"
                  id="mod-address-field"
                  class="form-field"
                  placeholder="Teléfono"
                />
                <i class="fas fa-pencil-alt"></i>
                <input
                  type="text"
                  id="mod-user-name-field"
                  class="form-field"
                  placeholder="Correo electrónico"
                />
                <i class="fas fa-pencil-alt"></i>
                <input
                  type="text"
                  id="mod-user-name-field"
                  class="form-field"
                  placeholder="Link"
                />
                <i class="fas fa-pencil-alt"></i>

                <button type="button" id="mod-save-button">
                  <a href="#">Guardar cambios</a>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
  </body>
</html>
