<!DOCTYPE html>
<html>
  <head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="registrarse_cliente.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="login-container">
      <!-- aqui va el header  -->
      <br />
      <br />
      <br />
      <div class="logo">
        <img src="../../assets/img/test-logo.png" alt="Logo" />
      </div>
      <div class="form">
      <form id="login-form" action="#">
        <h1>Registrate</h1>
        <div class="name-input">
          <input
            type="text"
            id="name"
            name="register"
            placeholder="Introduce tu nombre"
            class="input-bottom-border-only"
          /><br /><br />
        </div>
        <div class="apellido-input">
          <input
            type="text"
            id="apellido"
            name="register"
            placeholder="Introduce tu apellido"
            class="input-bottom-border-only"
          />
          <br />
          <br />
        </div>
        <div class="cedula-input">
          <input
          type="text"
          id="cedula"
          name="register"
          placeholder="Introduce tu cedula"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="fecha-nacimiento-input">
          <input
          type="date"
          id="fecha-nacimiento"
          name="register"
          placeholder="Introduce tu fecha de nacimiento"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="numero-de-telefono">
          <input
          type="tel"
          id="numero"
          name="register"
          placeholder="Introduce tu numero de telefono"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="email">
          <input
          type="email"
          id="email-register"
          name="register"
          placeholder="Introduce tu correo electronico"
          class="input-bottom-border-only"
        /><br /><br />
        </div>

        <div class="button-container">
          <button type="button" class="black-button">
            REGISTRATE <span id="right"></span></i>
          </button>
        </div>
        <div class="login-flex-container">
          <div class="register">
            <p>Al hacer clic en "Regístrate", aceptas las condiciones de uso de (nombre de empresa) y reconoces haber leído la política de privacidad.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
