<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/da33aea8dd.js" crossorigin="anonymous"></script>
  </head>
  <body>



    <div class="outer-container">
      <header>
        <div class="logo">
          <a href="index.html"><img src="../../assets/img/logo.png" /></a>      
        </div>
        <div class="sub-menu" id="sub">
          <div class="dropdown">
            <i class="fas fa-user-circle dropbtn" onclick="displayDropDownMenu()"></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="">Perfil</a>
              <a href="http://localhost:4040/">Cerrar sesión</a>     <!--cambiar url-->
            </div>
          </div>
        </div> 
      </header>
    
    <div class="row">
      <div class="side">
        <div class="side-menu">
         <!-- aqui va el menu, copiar de la carpeta de menus -->
        </div>
      </div>
      <div class="main">
        <!-- aqui va el CONTENIDO -->
      </div>
      </div>
    </div>
  <script src="../../assets/js/dropdown_menu.js"></script>

  
  </body>
</html>