<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <div class="managment-pages">
        <h2>Convenios</h2>
        <div>
          <ul>
            <i><a href="#">Mi parqueo</a></i>
            <i><a href="#">Reportes</a></i>
            <i><a href="#">Convenios</a></i>
            <i><a href="#">Tarifas</a></i>
            <i><a href="#">Cuenta</a></i>
            <i><a href="#">Clientes</a></i>
          </ul>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
