<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../../cliente/assets/css/styles.css"
    />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
    </header>
    <main>
      <div class="managment-pages-wrapper">
        <h2>Convenios</h2>
        <div class="menu-datagrid">
          <div class="left-menu">
            <ul>
              <li><a href="#">Mi parqueo</a></li>
              <li><a href="#">Reportes</a></li>
              <li><a href="#">Convenios</a></li>
              <li><a href="#">Tarifas</a></li>
              <li><a href="#">Cuenta</a></li>
              <li><a href="#">Clientes</a></li>
            </ul>
          </div>
          <div>
            <div class="managment-header">
              <i class="fas fa-plus-circle fa-2x"></i>
              <div class="search-wrapper">
                <form>
                  <input
                    type="search"
                    placeholder="Buscar dentro de la lista"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
