<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/2ed94c37e4.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="../../../cliente/assets/css/styles.css"
  />
</head>
<body>
<header>
    <div>
        <i class="fas fa-user-circle fa-2x profileIcon" ></i>
    </div>
   </header>
 <main>
     <div class="managmentPagesHeader">
         <i class="far fa-handshake"></i>
         <h2 class="ManagmentPagesTitle">Convenios</h2>
     </div>
 </main>
 <footer></footer>  
</body>
</html>