@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
p, a, input{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button{
    border-radius: 3px;
    border-style: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 3%;
}
button a{
    color: white;
  }
.hide{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.remove{
    display: none;
}

/***** GENERAL HEADER ***********/
header{
    position: fixed;
    overflow: hidden;
    display: flex;
    top: 0;
    width: 100%;
    background-color: #234f58;
    z-index: 999;
    box-sizing: border-box;
    padding: 1% 2%;
}
header .logo{
    width: 20%;
}
header .logo img{
    height: 50px;
}
.topHeaderFill{
    width: 100%;
    height: 85px;
    margin: 0;
}
/****** HEADER MENU ************/
header .menu{
    width: 80%;
    display: flex;
    padding-top: 1%;
    box-sizing: border-box;
}
header ul{
    width: 100%;
    text-align: end;
}
header .menu .leftOptions{
    width: 75%;
}
header .menu .rightOptions{
    width: 25%;
    padding-right: 5%;
}
header .leftOptions li{
    border-right: 1px solid #f2f2f2;
    display: inline;
    padding: 0% 1%
}
header .rightOptions li{
    display: inline;
    padding: 0% 5% ;
}
header .menu a{
    color: white;
    font-size: 16px;
}
/********* HEADER  SUB-MENU ********/
  .user-page-header .sub-menu{
    width: 50%;
  }
  .user-page-header .dropdown .fa-user-circle{
    font-size: 50px;
    color: white;
    width: 20%;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 15%;
    text-align: center;
    float: right;

  }
  .dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background-color: #4f8a7d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px 25px;
    z-index: 1;
  }
  .dropdown-content li{
    padding: 10%;
  }
  .dropdown-content a{
    color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content li:hover, .dropdown-content li:hover a{
    background-color: whitesmoke;
    color: #234f58;
  }

  /************  USER PAGES MAIN SECTION ***********/
/* .row = SIDE + MAIN CONTAINER */
.row {                  
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 13%;
    padding: 2% 0%;
    background-color: #f8f8f8;
  }
  .side-menu {
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-left: 5%;
    transition: all 0.5s ease;
  }
  .side-menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 85px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
    color: #585858;
  }
  .side-menu li:hover a {
    padding-left: 50px;
  }
  .side-menu ul a i {
    margin-right: 16px;
  }

  #check:checked ~ section {
    margin-left: 250px;
  } 
  .side-menu li:hover a{

    background-color: #82B0B0;
    color: white;
  }
  .active{
    background-color: #82B0B0;
    color: white;
  } 
  .main {
    flex: 70%;
    background-color: white;
    padding: 5% 0%;
  }

  /******* FOOTER ***********/

  footer {
    background-color: #595959;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
  }
  footer p {
    color: white;
    margin: 0;
  }
