a, p{
  margin: 0;
}
a{
  color: black
}

.fa-arrow-right {
  color: white !important;
  padding-left: 75%;
}
.bottom-text{
  overflow: auto;
  color: gray;
}
.bottom-text a{
  color: #216c7a;
}
.bottom-text a:hover{
  color: #0db1b1;
}
.sign-up{
  float: left;
  width: 50%;
}
.lost-password{
  float: left;
  width: 50%;
  text-align: end;
}
