a, p{
  margin: 0;
}
a{
  color: black
}

.fa-arrow-right {
  color: white !important;
  padding-left: 75%;
}
.bottom-text{
  overflow: auto;
  color: gray;
}
.bottom-text a{
  color: #216c7a;
}
.bottom-text a:hover{
  color: #0db1b1;
}
.sign-up{
  float: left;
  width: 50%;
}
.lost-password{
  float: left;
  width: 50%;
  text-align: end;
}
main{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.userType-list{
  width: 100%;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 1% 0%;
  margin: 1% 0%;
  width: 30%;

}
.userType-list option{
  padding: 1% 0%;
}
.userType-list option:hover{
  background-color: #0db1b1;
}