<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- global css -->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" media="screen" href="ver_reserva.css" />
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <header>
        <div class="header-top">
          <!-- Header Logo -->
          <div class="logo">
            <img src="../../assets/img/logo.png" />
          </div>
          <!-- Header Menu -->
          <div class="menu">
            <div class="leftOptions">
              <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Cómo funciona?</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#">Ayuda</a></li>
                
              </ul>
            </div>
            <div class="rightOptions">
              <ul>
                <li><a href="#"><i class="fas fa-sign-in-alt"></i></i></a></li>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
                
              </ul>
            </div>
          </div>
          <!-- Header Menu end -->
        </div>
      </header>
      <br />
      <br />
      <br />
    </div>
    <!-- Header end -->

    <!-- //////content////// -->
    <div class="row">
      <div class="side">
        <div class="side-menu">
          <ul>
            <li>
              <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
            </li>
          </ul>
        </div>
      </div>
       <!--  STAR Box Information Park-->
       <div class="main">  
    <div class="card">
      <div class="card__img-container">
        <img class="card__img" src="//unsplash.it/200/500" alt="">
      </div>
      <div class="card__content">
        <h2 class="card__title">Parqueo Cenfotec</h2>
        
        <p class="card__desc">Sed pellentesque, ante sed volutpat tempus, eros mauris sagittis neque, eget sodales quam ante mattis nulla. Vestibulum eget eleifend magna, sed posuere urna. Aenean ut quam auctor, interdum augue eu, scelerisque ligula.</p>
        <p class="card__price">₡ 2000.00</p>
        <a href="#" class="card__button">Pagar Ahora!</a>
      </div>
    </div>
    
    <!--  END Box Information Park-->

    </div>
    <!-- content end -->

   

    <!-- Footer -->
    <footer>
      <div class="footer-logo">
      </div>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
  </body>
</html>
