<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/2ed94c37e4.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="convenios.css"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/da33aea8dd.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <div class="outer-container">
      <header>
        <div class="logo">
          <img src="../../assets/img/logo.png" />
        </div>
        <div class="sub-menu" id="sub">
          <div class="dropdown">
            <i class="fas fa-user-circle dropbtn" onclick="displayDropDownMenu()"></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="../Perfil_Parqueo/modificarPerfil.html">Perfil</a>
              <a href="http://localhost:4040/">Cerrar sesión</a>     <!--cambiar url-->
            </div>
          </div>
        </div> 
      </header>
      <div class="topHeaderFill">relleno</div>
    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="side">
        <div class="side-menu">
          <ul>
            <li class="active">
              <a href="/components/Listar_Espacios_Parqueo/listarEspacios.html"
                ><i class="fas fa-car"></i>Mi parqueo</a
              >
            </li>
            <li>
              <a href="/components/Listar_Clientes_del_Dia/clientes_diarios.html">
                <i class="fas fa-users" aria-hidden="true"></i>Clientes</a
              >
            </li>
            <li>
              <a href="/components/Listar_Convenios_del_Parqueo/convenios.html"
                ><i class="fas fa-users"></i>Convenios</a
              >
            </li>
            <li>
              <a href="/components/Listar_Tarifas_Parqueo/tarifas.html"
                ><i class="fas fa-link"></i>Tarifas</a
              >
            </li>
            <li>
              <a href="/components/Reportes_para_Parqueos/reportes_ingresos.html"
                ><i class="fas fa-parking"></i>Reportes</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="title-table">
          <h1>Convenios</h1>
        </div>
        <div class="table-header">
          <div class="search">
            <input type="text" placeholder="Buscar..." />
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>

          <form id="registerForm">
            <div class="add-container">

              <div id="add" class="add-inputs">

                <input
                  id="company"
                  class="sub-inputs"
                  type="text"
                  placeholder="Nombre de la empresa"
                />

                <input
                  id="discountAdd"
                  class="sub-inputs"
                  type="text"
                  placeholder="Porcentaje de descuento"
                />

                <div class="add-icon">
                  <button onclick="validateAddSpaces()" type="button">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </div>

              </div>
            </div>
          </form>

          <form action="">
            <div class="add-container">
              <div id="edit" class="edit-wraper">

                <input
                  id="discountEdit"
                  class="sub-inputs"
                  type="text"
                  placeholder="Porcentaje de descuento"
                />

                <button
                  onclick="validateEditInput();"
                  id="editButton"
                  type="button"
                >
                  Editar
                </button>

              </div>

            </div>
          </form>

        </div>
        <table class="table" id="conventionsTable">
          <thead>
            <tr>
              <th><h1>Empresa</h1></th>
              <th><h1>Monto de descuento</h1></th>
              <th><h1>Activar/desactivar</h1></th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      </div>
    </div>
    </div>
    <!-- Footer -->
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
  </footer>
  <script src="../../assets/js/dropdown_menu.js"></script>
  <script src="convenios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </body>
</html>