<!DOCTYPE html>
<html>
  <head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="registrarse_cliente.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  </head>
  <body>
    <div class="form-header">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="Logo" />
      </div>
    </div>
    <form id="register-form" action="#">
      <h1>Registrar cuenta</h1>
        <input
          type="text"
          id="userName"
          name="register"
          placeholder="Nombre completo"
          class="regular-input"
        />
        <select class="userId-type regular-input" id="userId-type">
          <option disabled>Tipo de cédula</option>
          <option value="fisica">Física</option>
          <option value="juridica">Jurídica</option>
        </select>
        <input
        type="text"
        id="userID"
        name="register"
        placeholder="Cédula"
        class="regular-input"
        />
      <div class="birthDate-box">
        <label>Fecha de nacimiento</label>
        <input
        type="date"
        id="birthDate"
        name="register"
        placeholder="Fecha de nacimiento"
        class="regular-input"
        />
        <div class="error-msg hidden" id="error-msg">
          <p>Debe ser mayor de edad</p>
        </div>
      </div>
        <input
        type="number"
        id="phoneNumber"
        name="register"
        placeholder="Numero de teléfono"
        class="regular-input"
        />
        <input
        type="email"
        id="email"
        name="register"
        placeholder="Correo electrónico"
        class="regular-input"
      />
      <button type="button" onclick="sendUserInfo()" class="login-button">
          Registrarse <span id="right"></span></i>
      </button>
        <p class="termsNcond">Al hacer clic en "Registrarse", aceptas las condiciones de uso de (nombre de empresa) y reconoces haber leído la política de privacidad.</p>
        <!--<p><a href="../registrar_empresa/registrar_empresa.html">Registrar empresa</a></p>-->
      </div>
    </form>

  <script src="registrarse_cliente.js"></script>
  <script src="../../assets/js/enviar_correo.js"></script>
  <!--<script src="../../assets/js/main.js"></script>-->
  </body>
</html>
