<!DOCTYPE html>
<html>
  <head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="registrarse_cliente.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  </head>
  <body>
    <header>

    </header>
    <div class="login-container">
      <!-- aqui va el header  -->
      <br />
      <br />
      <br />
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="Logo" />
      </div>
      <div class="form">
      <form id="login-form" action="#">
        <h1>Registrar cuenta</h1>
        
        <div class="name-input">
          <input
            type="text"
            id="userName"
            name="register"
            placeholder="Nombre completo"
            class="input-bottom-border-only"
          /><br /><br />
      
        </div>
        <div class="cedula-input">
          <input
          type="text"
          id="userID"
          name="register"
          placeholder="Cédula"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="fecha-nacimiento-input">
          <labe">Fecha de nacimiento</label><input
          type="date"
          id="birthDate"
          name="register"
          placeholder="Fecha de nacimiento"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="numero-de-telefono">
          <input
          type="number"
          id="phoneNumber"
          name="register"
          placeholder="Numero de teléfono"
          class="input-bottom-border-only"
        /><br /><br />
        </div>
        <div class="email">
          <input
          type="email"
          id="email"
          name="register"
          placeholder="Correo electrónico"
          class="input-bottom-border-only"
        /><br /><br />
        </div>

        <div class="button-container">
          <button type="submit" onclick="sendUserInfo()" class="login-button">
            Registrarse <span id="right"></span></i>
          </button>
        </div>
        <div class="login-flex-container">
          <div class="register">
            <p>Al hacer clic en "Registrarse", aceptas las condiciones de uso de (nombre de empresa) y reconoces haber leído la política de privacidad.</p>
            <p><a href="../registrar_empresa/registrar_empresa.html">Registrar empresa</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="registrarse_cliente.js"></script>
  <script src="../../assets/js/main.js"></script>
  </body>
</html>
