
  .fa-arrow-right {
    color: white !important;
    padding-left: 75%;
  }
  /*---- LINK REGISTRAR EMPRESA */

.birthDate-box{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.birthDate-box input{
  width: 30%;
  border-style: none;
}
.birthDate-box p{
  color: red;
  font-size: 12px;
}
.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.userId-type{
  width: 100%;
  padding: 2.5% 0%;
  margin: 1% 0%;
}