<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="assets/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/da33aea8dd.js"
      crossorigin="anonymous"
    ></script>
    <title>Page Title</title>
  </head>
  <body>
    <!-- Header -->
    <div class="user-page-header">
      <div class="logo">
        <img src="assets/img/logo.png" />
      </div>
      <div class="sub-menu">
        <div class="dropdown">
          <i class="fas fa-user-circle"></i>
          <div class="dropdown-content">
            <ul>
              <li><a href="#">Ver perfil</a></li>
              <li><a href="#">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <!-- Header end -->

    <!-- lAYOUT GRID -->
    <div class="row">
      <div class="side">
        <div class="side-menu">
          <ul>
            <li>
              <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
            </li>
            <li>
              <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main"></div>
    </div>
    <!-- lAYOUT GRID END -->
    <!-- Footer -->
    <footer>
      <p>San José, Costa Rica.</p>
      <p>&reg;Todos los derechos reservados</p>
    </footer>
    <!-- Footer END -->
  </body>
</html>
