<ul>
</li>
<li>
  <a href="../Listar_Clientes_del_Dia/"
    ><i class="fas fa-parking"></i>Lista Clientes</a
  >
</li>
<li>
  <a href="../Modificar_Applicacion/Modificar_app"
    ><i class="fas fa-link"></i>Configuración de la aplicación</a
  >
</li>
<li>
  <a href="../solicitud_pendiente/solicitud_pendiente.html"
    ><i class="fas fa-link"></i>Solicitudes de registro</a
  >
</li>
<li>
  <a href="../Perfil_Parqueo/modificarPerfil.html"
    ><i class="fas fa-link"></i>Módulo parqueo</a
  >
</li>
<li>
  <a href="../Perfil_Cliente/perfil_cliente.html"
    ><i class="fas fa-link"></i>Módulo cliente</a
  >
</li>
<li>
  <a href="../Listar_Empleados_de_Empresa/empleados.html"
    ><i class="fas fa-link"></i>Módulo empresa</a
  >
</li>
</ul>
