<div class="side-menu">
    <ul>
      <li class="active">
        <a
          href="../ver_perfil_administrador/ver_perfil_administrador.html"
          ><i class="far fa-user"></i>Parqueos</a
        >
      </li>
      <li>
        <a href="../lista_parqueos/lista_parqueos.html"
          ><i class="fas fa-parking"></i>Clientes</a
        >
      </li>
      <li>
        <a href="../lista_clientes/lista_clientes.html"
          ><i class="fas fa-users"></i>Empresas</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Configuración de la aplicación</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Solicitudes</a
        >
      </li>
    </ul>
  </div>