
    <ul>
      <li class="active">
        <a
          href="../ver_perfil_administrador/ver_perfil_administrador.html"
          ><i class="far fa-user"></i>Mi parqueos</a
        >
      </li>
      <li>
        <a href="../lista_clientes/lista_clientes.html"
          ><i class="fas fa-users"></i>Convenios</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Tarifas</a
        >
      </li>
      <li>
        <a href="../lista_parqueos/lista_parqueos.html"
          ><i class="fas fa-parking"></i>Reportes</a
        >
      </li>
    </ul>
