<div class="side-menu">
    <ul>
      <li class="active">
        <a
          href="../../Buscar_Parqueo/buscar_parqueo.html"
          ><i class="far fa-user"></i>Buscar parqueo</a
        >
      </li>
      <li>
        <a href="../lista_parqueos/lista_parqueos.html"
          ><i class="fas fa-parking"></i>Historial de pagos</a
        >
      </li>
      <li>
        <a href="../lista_clientes/lista_clientes.html"
          ><i class="fas fa-users"></i>Mi reserva</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Descuentos</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Metodo de pago</a
        >
      </li>
    </ul>
  </div>