<ul>
  <li class="active">
    <a href="/components/Listar_Espacios_Parqueo/listarEspacios.html"
      ><i class="fas fa-car"></i>Mi parqueo</a
    >
  </li>
  <li>
    <a href="/components/Listar_Clientes_del_Dia/clientes_diarios.html">
      <i class="fas fa-users" aria-hidden="true"></i>Clientes</a
    >
  </li>
  <li>
    <a href="/components/Listar_Convenios_del_Parqueo/convenios.html"
      ><i class="fas fa-users"></i>Convenios</a
    >
  </li>
  <li>
    <a href="/components/Listar_Tarifas_Parqueo/tarifas.html"
      ><i class="fas fa-link"></i>Tarifas</a
    >
  </li>
  <li>
    <a href="/components/Reportes_para_Parqueos/reportes_ingresos.html"
      ><i class="fas fa-parking"></i>Reportes</a
    >
  </li>
</ul>
