
    <ul>
      <li class="active">
        <a
          href="../ver_perfil_administrador/ver_perfil_administrador.html"
          ><i class="far fa-user"></i>Lista Parqueos</a
        >
      </li>
      <li>
        <a href="../lista_parqueos/lista_parqueos.html"
          ><i class="fas fa-parking"></i>Lista Clientes</a
        >
      </li>
      <li>
        <a href="../lista_clientes/lista_clientes.html"
          ><i class="fas fa-users"></i>Lista Empresas</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Configuración de la aplicación</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Solicitudes de registro</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Módulo parqueo</a
        >
      </li>
      <li>
        <a href="../solicitud_pendiente/solicitud_pendiente.html"
          ><i class="fas fa-link"></i>Módulo cliente</a
        >
      </li>
        <li>
          <a href="../solicitud_pendiente/solicitud_pendiente.html"
            ><i class="fas fa-link"></i>Módulo empresa</a
          >
        </li>
        <li>
          <a href="../solicitud_pendiente/solicitud_pendiente.html"
            ><i class="fas fa-link"></i>Reportes</a
          >
        </li>
        
    </ul>
