.spots-list{
    margin: auto;
    width: 65%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-collapse: collapse;
}
.spots-list tr{
    box-shadow: 0 2px 3px -2px lightgray;
    color: #585858;
}

.spots-list th{
    padding: 1% 1% 4% 2%;
    font-size: 20px;
    color: #216c7a;
    text-align: left;
    font-weight: 400;
}

.spots-list td{
    width: 30%;
    padding: 2% 2%;
}
.spot-number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #0db1b1;
    display: flex;
    align-items: center;
}
.spot-number p{
    color: white;
    margin: auto;
    text-align: center;
}
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}
.more-button{
    width: 5%;
}
.more-button .fa-plus{
    color: #216c7a;
    text-align: center;
}
.more-button .fa-plus:hover{
    background-color: #216c7a;
    border-radius: 50%;
    color: white;
    padding: 10%;
}
tbody tr:hover{
    background-color: #f4f4f4;
}
