<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../Registrar_Cliente/registrar_cliente.html">Registrar cliente</a>
    <a href="../Registar_Parqueo/registrarParqueo.html">Registrar parqueo</a>
    <a href="../html_correos/verificar_cliente.html">Correo</a>
    <a href="../Iniciar_en_Parqueo/iniciar_parqueo.html">Iniciar parqueo</a>
    <a href="../Seleccionar_Espacio_Reserva/seleccionarEspacio.html">Reservar parqueo</a>
    <a href="../Buscar_Parqueo/buscar_parqueo.html">Buscar parqueo</a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
</body>
</html>