<!DOCTYPE html>
<html>

<head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Listar Tarjeta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/649e6ace6e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="listar_tarjeta.css" />


<body>


    <header>
        <label class="labelMenu"><i class="fa fa-bars"></i></label>
        <div class="logo">
            <img src="./spot.png">
        </div>
    </header>

    <div class="menu">
        <h1><i class="fa fa-address-card"></i></h1>

        <nav>
            <ul>
                <a href="">
                    <li class="icone1"><i class="fas fa-handshake"></i></li>
                    <li>Convenios</li>
                </a>

                <a href="">
                    <li class="icone2"><i class="fa fa-envelope"></i></li>
                    <li>Solicitudes</li>
                </a>

                <a href="">
                    <li class="icone3"><i class="fa fa-book"></i></li>
                    <li>Reservas</li>
                </a>

                <a href="">
                    <li class="icone4"><i class="far fa-credit-card"></i></li>
                    <li>Tarifas</li>
                </a>
            </ul>

            <ul>
                <a href="">
                    <li class="icone5"><i class="fa fa-lightbulb"></i></li>
                    <li>Ajuda</li>
                </a>

                <a href="">
                    <li class="icone6"><i class="fa fa-cog"></i></li>
                    <li>Configuración</li>
                </a>

                <a href="">
                    <li class="icone7"><i class="fa fa-comment"></i></li>
                    <li>Comentarios</li>
                </a>

                <a href="">
                    <li class="icone8"><i class="fa fa-angle-double-left"></i></li>
                    <li>Sair</li>
                </a>
            </ul>
        </nav>
    </div>
    <!-- Para imprimir la lista -->
    <div class="quiz-window">
        <div class="header">
            <div class="quiz-window-title">Mis Tarjetas</div>

        </div>
        <div class="body">

            <ul class="filas tittles">

                <li class="parqueo">Tarjeta</li>

                <li ">All Time</li>
            </ul><!-- guiz-awards-row -->
            <ul class=" filas ">
              <li class=""><span class=" star goldstar"></span></li>
                <li class="pass">2345
                    <!-- <div class="">90-100% correct answers</div> -->
                </li>
                <li class="icon"><i class="fas fa-trash-alt"></i></li>

            </ul>
            <ul class="filas">
                <li class=""><span class="star silverstar"></span></li>
                <li class="pass">2222
                    <!-- <div class="">80-90% correct answers</div> -->
                </li>
                <li class="icon"><i class="fas fa-trash-alt"></i></li>

            </ul>
        </div>
    </div>
    <div class="opacMenu"></div>

    <!--  Jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="./listar_tarjeta.js"></script>
</body>

</html>