<!DOCTYPE html>
<html>

<head>
    <!-- falta definir la navegacion -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Listar Tarjeta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/649e6ace6e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="listar_tarjeta.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/styles.css"
    />

    <body>
        <!-- Header -->
        <div class="header">
          <header>
            <div class="header-top">
              <div class="logo">
                <img src="logo21.png" />
              </div>
              <div class="menu">
                <div class="leftOptions">
                  <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Cómo funciona?</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Ayuda</a></li>
                  </ul>
                </div>
                <div class="rightOptions">
                  <ul>
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header>
        <br>
        <br>
        <br>
    
        </div>
    
        <!-- The flexible grid (content) -->
        <div class="row">
          <div class="side">
            <div class="sidebar">
              <header></header>
              <ul>
                <li>
                  <a href="#"><i class="fas fa-qrcode"></i>Mi Parqueo</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-link"></i>Mi Perfil</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-stream"></i>Tarifas</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-calendar-week"></i>Reportes</a>
                </li>
                <li>
                  <a href="#"><i class="far fa-question-circle"></i>Convenios</a>
                </li>
                <li>
                  <a href="#"><i class="far fa-question-circle"></i>Clientes</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main">
            <div class="title">
              <h1>Tarjetas</h1>
            </div>
            <div class="button-container">
                <button type="button" class="black-button"><i class="fas fa-plus-circle"></i> 
                  Agregar Tarjeta <span id="right"></span>
                </button>
            </div>
            <table class="container">
              <thead>
                <tr>
                  <th><h1>Mis Tarjetas</h1></th>
                  
                  <th><h1>Eliminar</h1></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="icon" ><i class="far fa-credit-card"></i></span>*****    8364</td>
                 
                  <td>
                    <i class="far fa-trash-alt"  ></></i>
                  </td>
                </tr>
                <tr>
                  <td><span class="icon" ><i class="far fa-credit-card"></i></span>***** 3852</td>
                 
                  <td>
                    <i class="far fa-trash-alt"></></i>
                  </td>
                </tr>
                <tr>
                  <td><span class="icon" ><i class="far fa-credit-card"></i></span>***** 0233</td>
                 
                  <td>
                    <i class="far fa-trash-alt"></></i>
                  </td>
                </tr>
                <tr>
                  <td><span class="icon" ><i class="far fa-credit-card"></i></span>***** 3442</td>
                  
                  <td>
                    <i class="far fa-trash-alt"></></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    
        <!-- Footer -->
        <footer>
          <p>San José, Costa Rica.</p>
          <p>&reg;Todos los derechos reservados</p>
      </footer>
      </body>
    </html>